<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Boot">
<insert id="save" parameterType="boot">
    insert into boot_table (companyName,memberName,bootStrength,bootDate)
        values (#{companyName},#{memberName},#{bootStrength},#{bootDate})
</insert>
    <select id="findAll" resultType="boot">
        select *from boot_table where companyName=#{companyName}
    </select>
    <select id="findById" resultType="boot">
        select * from boot_table where memberName=#{memberName}
    </select>
    <select id="findAllMember" resultType="boot">
        select *from boot_table where memberName=#{memberName}
    </select>
    <select id="idCheck" parameterType="String" resultType="String">
        select memberName from boot_table where memberName=#{memberName}
    </select>
</mapper>