<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Company">
    <insert id="save" parameterType="company">
        insert into company_table (companyId,companyPassword,companyName,companyEmail,companyMobile,companyNumber,companyLocation)
                values (#{companyId},#{companyPassword},#{companyName},#{companyEmail},#{companyMobile},#{companyNumber},#{companyLocation})
    </insert>
    <select id="login" resultType="company">
        select * from company_table where companyId=#{companyId} and companyPassword=#{companyPassword}
    </select>
    <select id="findAll" resultType="company">
        select * from company_table
    </select>
    <delete id="delete" parameterType="long">
        delete from company_table where c_id=#{c_id}
    </delete>
    <select id="findById" resultType="company">
        select *from company_table where c_id=#{c_id}
    </select>
    <select id="lank" resultType="company">
        select * from company_table order by bootCount desc;
    </select>
</mapper>
