<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Company">
    <insert id="save" parameterType="company">
        insert into company_table (companyId,companyPassword,companyName,companyEmail,companyMobile,companyNumber,companyLocation,companyFileName)
                values (#{companyId},#{companyPassword},#{companyName},#{companyEmail},#{companyMobile},#{companyNumber},#{companyLocation},#{companyFileName})
    </insert>
    <select id="login" resultType="company">
        select * from company_table where companyId=#{companyId} and companyPassword=#{companyPassword}
    </select>
    <select id="findAll" resultType="company">
        select * from company_table
    </select>
    <delete id="delete" parameterType="long">
        delete from company_table where c_id=#{c_id}
    </delete>
    <select id="findById" resultType="company">
        select *from company_table where c_id=#{c_id}
    </select>
    <select id="duplicateCheck" parameterType="String" resultType="String">
        select companyId from company_table where companyId=#{companyId}
    </select>
    <select id="dup_check_Num" parameterType="String" resultType="String">
        select companyNumber from company_table where companyNumber=#{companyNumber}
    </select>
    <select id="findByDetail" resultType="company">
        select * from company_table where companyName=#{companyName}
    </select>
</mapper>
